<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JuniorDev</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="/nav :: nav"></div>

<h1>소셜 로그인 테스트</h1>
<h2 th:text="${provider}"> 앱 </h2>
<h2 th:text="${oauthId}"> 아이디 </h2>
<h2 th:text="${userName}"> 아이디 </h2>

<script>
  $(".update-modal").click(function () {
    $("#update-modal").addClass("is-active");
    $("#update-text").val($("#target-text").text());
  });

  $(".update-modal-close").click(function (e) {
    e.preventDefault();
    $("#update-modal").removeClass("is-active");
  });

  $("#save").click(function (e) {
    e.preventDefault();
    $("#update-modal").removeClass("is-active");
    $("#target-text").text($("#update-text").val());
  });

</script>
</body>
</html>